footer{
	margin-top: 100px;
	border-top: 1px solid #a0968a;
	width: 100%;
	height: 100px;
	background-color: #c7b198;
}
footer article{
	height: auto;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
footer p{
	font-size: 13px;
	line-height: 17px;
}

